.message-info {
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.img-mini {
    max-width: 120px !important;
    max-height: 120px !important;
}

.btn-success{
    min-width: 200px;
    max-width: 350px;
}

/* Product & Auction List Image */
.img-container{
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
}

.img-container h2 {
	position: absolute;
	top: -5px;
	right: 0;
	width: 100%;
}

.img-container h2 span {
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
/* -------------------------------------------------- */