.message-info {
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.img-mini {
    max-width: 120px !important;
    max-height: 120px !important;
}

.btn-success{
    min-width: 200px;
    max-width: 350px;
}

.pager-container{
    text-align: center;
}

/* Product & Auction List Image */
.img-container{
    position: relative;
    width: 100%;
}

.img-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.img-container h2 {
	position: absolute;
	top: -5px;
	right: 0;
	width: 100%;
}

.img-container h2 span {
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
/* -------------------------------------------------- */

/* Menu */
.brand-img{
    max-height:36px;
}

@media (max-width: 992px) {
    .navbar-nav li a {
        padding: 10px 10px;
    }
}

@media (min-width: 992px) {
    .navbar-nav li a {
        padding: 10px 15px;
    }
}

@media (min-width: 600px) {
    .menu-container{
        float: none;
        text-align: center;
    }
}

@media (min-width: 600px) {
    .menu-container {
        float:right;
        position:relative;
        left:-50%;
        text-align:left;
    }
    .navbar-nav-menu{
        list-style:none;
        position:relative;
        left:50%;
    }

    .navbar-nav-menu li {
        float:left;
        position:relative;
    }
}

.admin-panel-menu{
    margin-top: 20px;
}
/* -------------------------------------------------- */

/* Search and Sort */
.search-container, 
.sort-container{
    float: left;
    width: 50%;
    margin-top: 8px;
}

.sort-container label,
.sort-types{
    float: left;
}

.sort-container label{
    width: 27%;
    padding-left: 7px;
    padding-top: 7px;
}
.sort-types{
    width: 73%;
}
/* -------------------------------------------------- */
