@model  JokerKS.WLFU.Models.SuccessCreateAuctionModel
@{
    ViewBag.Title = "Success";
}

<h2>The auction has been created and is aimed at testing the moderators</h2>
<h3>If all the fields in the auction filling correctly, the auction will run.</h3>
<h3>In the case of non-compliance, we will let you know about it and you will be able to correct auction description.</h3>
<br/>
<h3>The name of your auction: @Model.AuctionName</h3>
