@model IEnumerable<JokerKS.WLFU.Entities.Product.Product>
@using MVCGrid.Web
@{
    ViewBag.Title = "Products";
    string action = ViewContext.RouteData.Values["action"].ToString();
}

<h2>Products management</h2>

<div class="filter-container">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Expression"
                   data-mvcgrid-type='additionalQueryOption' data-mvcgrid-option="Search" />
        </div>
        <button type="button" class="btn btn-default" data-mvcgrid-apply-additional="click">Search</button>
        <div class="form-group" style="float:right">
            <select id="isActive-filter" class="form-control" data-mvcgrid-type="filter" data-mvcgrid-option="IsActive" data-mvcgrid-apply-filter='change'>
                <option value="-"></option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
    </div>
</div>

@if (action == "ProductsToCheck")
{
    @Html.MVCGrid("AdminListOfProducts", new { active = "false" })
}
else
{
    @Html.MVCGrid("AdminListOfProducts")
}
