@model string
@{
    ViewBag.Title = "Success";
}

<h2>The product has been added and is aimed at testing the moderators</h2>
<h3>If all the fields in the product filling correctly, the product will be put up for sale.</h3>
<h3>In the case of non-compliance, we will let you know about it and you will be able to correct product description.</h3>
<br/>
<h3>The ID of your request: @Model</h3>
